<?php 
$mail->isSMTP();                            // Set mailer to use SMTP
$mail->Host = 'email-smtp.us-east-1.amazonaws.com';             // Specify main and backup SMTP servers
$mail->SMTPAuth = true;                     // Enable SMTP authentication
$mail->Username = 'smtp_username';       // SMTP username
$mail->Password = 'smtp_password';             // SMTP password
$mail->SMTPSecure = 'tls';                  // Enable TLS encryption, `ssl` also accepted
$mail->Port = 587;                          // TCP port to connect to
